@model Radio_BDModel.Pedido_musica

@{
    ViewBag.Title = "Ouvinte";
}

<h2>Ouvinte</h2>
<h3> Peça sua música preferida!!!!!!!!!</h3>




@using (Html.BeginForm("PedidoMusica", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
        
      <hr /> 
    <div class="form-horizontal">
        <h3>Qual é a música preferida:</h3>
      
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome_musica, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome_musica)
                @Html.ValidationMessageFor(model => model.Nome_musica)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data)
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>
             
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"  value="Enviar" class="btn btn-success " />
            </div>
        </div>
    </div>
   
    
}


