@model Radio_BDModel.Avaliacao

@{
    ViewBag.Title = "TelaVotar";
    var programas = Radio_BDModel.RadioConnection.Model.Programas.OrderBy(p => p.Nome_programa).ToList();
    var listaprograma = new SelectList(programas, "Id", "Nome_programa");
    
}

<h2>TelaVotar</h2>

@using (Html.BeginForm("GravarVoto", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Avaliacao</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nota, new { @class = "control-label col-md-2" })


            @*<a href="@Url.Action("TelaVotar",new { id = votoMais })" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>Votar </a>*@


                <div class="col-md-10">

                    @Html.EditorFor(model => model.Nota)
                    @Html.ValidationMessageFor(model => model.Nota)
                </div>
</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario)
                @Html.ValidationMessageFor(model => model.Comentario)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Programas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_programa", listaprograma, htmlAttributes: new { @class = "from-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Votar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
